:root {
  --primary-dark: #0B0D17;
  --primary-light: #D0D6F9;
  --simple-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  color: var(--primary-light);
}

a {
  text-decoration: none;
}
