@mixin headers() {
  font-family: var(--font-bellefair);
  font-weight: 400;
  color: var(--simple-white);
}

.whiteText {
  color: var(--simple-white);
}

.boldText {
  font-weight: 700;
}

.lowOpacityText {
  opacity: .25;
}

.uppercaseText {
  text-transform: uppercase;
}

.largeHeader {
  @include headers();
  font-size: 5rem;
  
  @media (min-width: 700px) {
    font-size: 9.375rem;
  }
}

.bigHeader {
  @include headers();
  font-size: 3.5rem;

  @media (min-width: 700px) {
    font-size: 5rem;
  }
  @media (min-width: 1280px) {
    font-size: 6.25rem;
  }
}

.subHeader {
  @include headers();
  font-size: 1.75rem;
}

.smallSubheader {
  font-size: .875rem;
  letter-spacing: 2.35px;
  font-weight: 400;
}

.navText {
  letter-spacing: 2.7px;

  @media (min-width: 700px) {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
  }
  @media (min-width: 1280px) {
    font-size: 1.75rem;
    letter-spacing: 4.72px;
  }
}

.paragraph {
  font-size: .9375rem;
  line-height: 1.66em;

  @media (min-width: 700px) {
    font-size: 1rem;
    line-height: 1.75em;
  }
  @media (min-width: 1280px) {
    font-size: 1.125rem;
    line-height: 1.77em;
  }
}